
notebooks/.ipynb_checkpoints/

src/statFEM_analysis/.ipynb_checkpoints/

*.pyc

docs/build/

statFEM_analysis/statFEM_analysis/.ipynb_checkpoints/

docker-command.txt

setting_ini.txt

scripts/.ipynb_checkpoints/

docs/source/00_oneDim.ipynb

docs/source/01_twoDim.ipynb

docs/source/02_oneDim_prior_results.ipynb

docs/source/03_oneDim_posterior_results.ipynb

docs/source/04_twoDim_prior_results.ipynb

docs/source/06_maxDist.ipynb

docs/source/05_twoDim_posterior_results.ipynb

docs/source/07_oneDim_prior_max_results.ipynb

docs/source/08_oneDim_posterior_max_results.ipynb

docs/source/scripts
